<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'symbol');
        data.addColumn('string', 'baseAsset');
        data.addColumn('string', 'quoteAsset');
        data.addColumn('string', 'openPrice');
        data.addColumn('string', 'lowPrice');
        data.addColumn('string', 'highPrice');
        data.addColumn('string', 'lastPrice');
        data.addColumn('string', 'volume');
        data.addColumn('string', 'bidPrice');
        data.addColumn('string', 'askPrice');
        data.addColumn('string', 'at');

        data.addRows([

          {% for key,value in data.items() %}
          ['{{ value['symbol'] }}', '{{ value['baseAsset'] }}','{{ value['quoteAsset'] }}','{{ value['openPrice'] }}','{{ value['lowPrice'] }}','{{ value['highPrice'] }}','{{ value['lastPrice'] }}','{{ value['volume']}}','{{ value['bidPrice'] }}','{{ value['askPrice'] }}','{{ value['at']}}'],
          {% endfor %}
        ]);
        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});

		var chart = new google.visualization.BarChart(document.getElementById('table_div'));
      chart.draw(data, {showRowNumber: true, width: '50%', height: '50%'});
	  }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
  

</html>

