<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
                  <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                  <li><a href="cryptocurrency.html" class="nav-link">Crypto</a></li>
				  <li><a href="data.html" class="nav-link">Data</a></li>
                  <li><a href="analysis.html" class="nav-link">Analysis</a></li>
                  
</ul>
<h1 style="color:black;font-size:60px;text-align: center;">Wazirx’s REST API for spot exchange</h1>
<p style="color:black;font-size:40px;text-align:center"> Automating trades in real-time, stream live crypto rates and build other integrations for trading journey.</p>

<style>
body{
background-image:url('crypto.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100% 
}
</style>
</body>
</html>